.Lottery {
    border: solid 4px darkblue;
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 1em;
    width: 40em;
}

.Lottery button {
    background-color: darkblue;
    color: white;
    font-size: 120%;
    border-radius: 1em;
    margin-top: 1em;
    font-weight: bold;
    padding: .5em;
}